<div class="col-md-3">
    <h5 style="text-align: center;">Dashboard</h5>
    <a href="/admin/slider"><button class="btn btn-danger form-control mt-2">Slider Mangement</button></a>
    <a href="/admin/services "><button class="btn btn-danger form-control mt-2">Services Mangement</button></a>
    <a href="/admin/testim"><button class="btn btn-danger form-control mt-2">Testinomial Manage</button></a>
    <a href="/admin/footerdetails"><button class="btn btn-danger form-control mt-2">Footers Details Manage</button></a>
    <a href="/admin/socialmediamange"><button class="btn btn-danger form-control mt-2">Social Media Manage</button></a>
    <a href="/admin/Query"><button class="btn btn-danger form-control mt-2  mb-2">Query Mangement</button></a>
</div>