body {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
}

#header{
    background: linear-gradient(to right,rgb(103, 204, 235),rgb(43, 131, 190));
    padding: 15px 0px; 
}

#footer{
    
        background: linear-gradient(to right,rgb(103, 204, 235),rgb(43, 131, 190));
        padding: 15px 0px; 
        text-align: center;
}
#header button{
    float: right;
}

#mid h2{
    color: blue;
    text-align: center;
}

#row1 {
    padding: 100px;
}

#title h2{
    color: green;
    text-align: center;
    display: flex;
}