body {
    font-family: 'Poppins', sans-serif;
}


#header {
    background: linear-gradient(to right,rgb(103, 204, 235),rgb(43, 131, 190));

    padding-bottom: 20px;   
}
#header .container-fluid{
    margin-top: 0px;
}
#header img{
    width: 100px;
    box-shadow:10px 10px black;   
}
#header ul li a{
    color: white;
    transition-property: color;
    transition-duration: 2s;
    font-size: 15px;
}
#header ul li a:hover{
    color: rgb(179, 179, 179); 
}
#header .bi-list{
    color:  white;
    font-size: 25px;
}
#header .navbar-toggler{
    border: 1px solid white
}
#header #back{
    width: 100%;
}

#media{
    margin-top: 10px ;
}

#media img{
    width: 100%;
    height:450px;
    
}
#Services h2{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#Services img{
    border-radius: 30%;
    padding-bottom: 10px;
}


#Services p{
    text-align: justify;
}

#footer{
    background: linear-gradient(to right,rgb(103, 204, 235),rgb(43, 131, 190));
    padding-bottom: 20px
}
#footer h3{
   
    color: white;
}
#footer span{
    color: rgb(255, 255, 255);
    font-size: 17px;
}
#footer p{
    color: rgb(255, 255, 255); 
    text-align: justify;
}
#footer img{
    width: 50px;
    margin-bottom: 10px;
}

#footer #social{
    width: 100px;  
}

#footer #back{
    width: 100%;
}

#Servicesdetails h2{
    padding-top: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    color: brown;
}

